.scroll-asset .scroll-asset-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-asset-container{
  max-height: 120px;
  max-width: 120px;
  padding-top: 100%;
  position: relative;
  margin-bottom: 12px;
}

.scroll-asset{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scroll-item{
  width: 120px;
  cursor: pointer;

}

a{
  &:focus{
    box-shadow: 0 0 0 3px #1967d226;
    outline: none;
  }
}


.scroll-products{
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 48px;
  grid-auto-flow: column;
  padding-left: 24px;
  padding-right: 24px;
  @include media-breakpoint-up(xl){
    padding-left: calc((100% - 1392px) / 2);
    padding-right: calc((100% - 1392px) / 2);
  }

}

.overflow-x-scroll{
  overflow-x: scroll;
  width: 1392px;
  margin: auto;
}

// Extraido y adaptado de: https://ed.team/blog/personaliza-el-scroll-de-tu-web-solo-con-css
.overflow-x-scroll::-webkit-scrollbar{
  width: 15px;
  height: 2px;
}

.overflow-x-scroll::-webkit-scrollbar-thumb {
  background: #423f3f;
  border-radius: 4px;
}


.overflow-x-scroll::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.overflow-x-scroll::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.overflow-x-scroll::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.overflow-x-scroll::-webkit-scrollbar-track:hover,
.overflow-x-scroll::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
