.navbar{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1440px;
    height: inherit;
}

.navbar-toggler{
    padding: 0;
    border: none;
    height: 48px;
    width: 48px;
    color: #5f6368 !important;
}

.logo-bg-large{
    height: 24px;
    width: 134px;
}

.products{
    margin-left: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.product-font{
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
    cursor: pointer;
}

.nav-link{
    padding: 0 !important;
}

.show{
    .nav-link{
        .arrow-flip{
            padding-top: 0px;
            transform: rotate(-180deg);
        }
    }
}

.arrow-flip{
    padding-top: 3px;
    font-size: 16px;
    margin-right: 4px;
    transition: transform 350ms ease;
}

li ~ li{
    margin-left: 20px;
}

.space{
    flex: 1;
}

.services{
    margin-left: 24px;
    height: fit-content;
}

.collapseProduct{
    width: 56%;
    margin: auto;
    display: block;
    margin-bottom: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.buttonCollapse{
    width: 47.5218658892%;
    max-width: 248px;
    display: block;
    border: 0;
    padding: 0;
    margin-bottom: 32px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #423f3f;
    font-weight: 400;
    background: #fff;
}

@include media-breakpoint-up(lg){
    .hide{
        display: none;
    }
}

@include media-breakpoint-down(lg) {
    .collapse-products-container{
        @include make-container();
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 560px;
    }
}

.products-container{
    display: flex;
    flex-flow: wrap;
    background-color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    @include media-breakpoint-between(md,lg){
        padding-top: 64px;
    }
    @include media-breakpoint-down(md){
        padding-top: 16px;
    }
}




