@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "~material-design-icons/iconfont/material-icons.css";
@import "./src/components/navBar/navBar";
@import "../components/carousel/carousel";
@import "../components/products/product.scss";

body{
  display: block;
  font-family: "Google Sans",Arial,sans-serif;
  font-weight: 400;
  width: 100%;
}

.main-view{
  background: #fff;
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

.carousel-main-container{
  height: 600px;
  margin: 0 auto;
  max-width: 1392px;
  background: #f8f8f8;
  overflow: hidden;
}
