.carousel-container {
  display: grid;
  height: inherit;
  left: 0;
  position: absolute;
  pointer-events: none;
  transition: 0.3s opacity ease;
  top: 0;
  width: 100%;
  z-index: 1;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 24px;
  column-gap: 24px;
}

.carousel-description-container{
  grid-column-start: 1;
  grid-column-end: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 24px;
}

.carousel-description{
  grid-column-start: 2;
  grid-column-end: span 5;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0;
  height: auto;
  margin: auto;
}

.description1{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-bottom: 12px;
  text-align: center;
}

.description2{
  font-size: 56px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -2px;
  text-align: center;
}

.description3{
  margin-top: 16px;
  --ds-annotation: standard-body;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.carousel-asset-container{
  grid-column-start: 8;
  grid-column-end: span 5;
  position: static;
}

.carousel-asset{
  padding-top: 0 !important;
  position: static;
  -o-object-position: left center;
  object-position: left center;
  max-width: none;
  width: auto;
  height: auto;
  max-height: 600px;
}



.asset{
  --contentHeight: 456;
  padding-top: 0 !important;
  position: static;
  max-width: none;
  width: 128%;;
  height: auto;
  max-height: Max(600px, calc(var(--contentHeight, 0) * 1px));
  min-height: calc(var(--contentHeight, 0) * 1px);
}
